/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}
/* -------------------------------- end reset css --------------------------------*/

/* -------------------------------- General -------------------------------- */

body {
	font-family: 'Work Sans' ;
	font-size: 14px;
	font-weight: 400;
	background-color: #FFFEF8;
	color: #3D3D3D;
}

.page-container {
	max-width: 1140px;
	margin:auto;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

main {
	margin: 130px 90px 20px 90px;
}

section {
	margin: 50px 0;
}

h1 {
	display: flex;
	flex-direction: column;
	gap: 4px;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1 a {
	color: #B1663C;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
	font-weight: 400;
	text-transform: uppercase;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
/* -------------------------------- EDIT MODE -------------------------------- */

.edit {
	display: flex;
	background-color: black;
	justify-content: center;
	align-items: center;
	gap: 20px; 
}

.edit.hidden {
	display: none;
}

.edit-mode {
	display: flex;
	gap: 10px;
	color: white;
}

.edit-button {
	color: black;
	background-color: white;
	border-radius: 60px;
	padding: 10px 23px;
	margin: 10px 0;
}


/* -------------------------------- HEADER -------------------------------- */

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 40px;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav li a {
	color: black;
}

nav li a:hover {
	color: #B1663C;
}

nav li a strong {
	font-weight: 600;
}

nav li img {
	width: 20px;
	height: 20px;
}


/* -------------------------------- MAIN -------------------------------- */

#introduction {
	display: flex;
	align-items: start;
	gap : 50px;
}

#introduction figure {
	flex: 1;
}

#introduction figure img {
	display: block;
	margin: auto;
	width: 100%;
}

#introduction article {
	flex: 1;
}

.modify {
	display: inline-block;
	color: black;
	margin: 15px 0 15px 0;
}

.modify.hidden {
	visibility: collapse;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 1.3em;
}

#portfolio {
	margin-top: 110px;
}

.title-portfolio {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}

.title-portfolio .modify {
	margin: 0 0 0 30px;
}

.filter {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 50px;
}

.filter button {
	border: 1px solid #1D6154;
	border-radius: 50px;
	padding: 9px 15px;
	min-width: 100px;
	background-color: transparent;
	font-family: "syne", sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #1D6154;
	cursor: pointer;
}

.filter button.selected,
.filter button:hover {
	background-color: #1D6154;
	color: white;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

.gallery figcaption {
	margin-top: 7px;
}

/* -------------------------------- FORM in INDEX & LOGIN -------------------------------- */

#contact,
#login {
	width: 380px;
	margin: auto;
}

#contact > *,
#login > * {
	text-align: center;
}

#contact h2,
#login h2 {
	margin-bottom: 20px;
}

#contact form,
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input,
#login input {
	height: 50px;
	font-size: 1.1em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label,
#login label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login {
	margin-bottom: 380px;
}

#login form a {
	color: #3D3D3D;
	font-weight: 500;
	align-self: center;
	text-decoration: underline;
}

#login form a:hover {
	color: #B1663C;
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
	height: 36px;
}

.error-message {
	padding-bottom: 25px;
	text-align: center;
	color: red;
}

.error-message.hidden {
	display: none;
}


/* -------------------------------- FOOTER -------------------------------- */

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
	
}